{% extends 'music/layout.html' %}
{% block content %}
<header class="container center-align">
    <h1>Browse your Albums</h1>
</header>
<div class="container">
    {% if all_albums %}
    <ul class="collection">
        
        {% for album in all_albums %}
        <li class="collection-item">
            <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>You don't have any albums</h3>
    {% endif %}
</div>
{% endblock %}